* {
  margin: 0;
  padding: 0;
}

form {
  min-width: 200px;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  padding: 40px;
  flex-direction: column;

  font-size: larger;
  background: #000;
  color:#fff;
  border-radius: 10px;;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

input,
button,
select,
textarea  {
  margin-top: 5px;
  margin-bottom: 10px;
padding: 20px;

}

label{
  margin-top: 10px;

}
textarea {
  height: 200px;
}

button{
  color:#fff;
  background-color: blue;
  outline: none;
  border:none;
  
}